@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


@font-face {
    font-family: "Against";
    src: url("/public/against.ttf");
}
h1{
    font-family: "Against";
    
}
.heading{
    color: #457f5e ;
    @apply md:text-4xl text-xl 
     
}

.para{
    @apply md:text-lg text-lg  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            
}